<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" monitorInterval="30">
	<properties>
		<property name="LOG_HOME">../71Netlogs</property>
	</properties>
	<Appenders>
		<Console name="CONSOLE" target="SYSTEM_OUT">
			<PatternLayout pattern="[%d]-[%p]-[%t]%m%n" />
		</Console>
		<RollingRandomAccessFile name="71Net" 
		    fileName="${LOG_HOME}/71Net.log" filePattern="${LOG_HOME}/%d{yyyy-MM-dd}-%i.log">
			<PatternLayout pattern="[%d]-[%p]-[%t]%m%n" />
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="100MB" />
			</Policies>
		</RollingRandomAccessFile>
	
		<RollingRandomAccessFile name="ErrorFile"
			fileName="${LOG_HOME}/Error/error.log" filePattern="${LOG_HOME}/Error/error-%d{yyyy-MM-dd}-%i.log">
			<Filters>
				<ThresholdFilter level="fatal" onMatch="DENY"  onMismatch="NEUTRAL" />
				<ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY" />
			</Filters>
			<PatternLayout pattern="[%d]-[%p]-[%t]%m%n" />
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="1MB" />
			</Policies>
			<DefaultRolloverStrategy max="20" />
		</RollingRandomAccessFile>       
		<Async name="ASYNC">
			<AppenderRef ref="71Net" />
			<AppenderRef ref="ErrorFile"/>
		</Async>
	</Appenders>
	<Loggers>
	    <Root level="debug">
          <AppenderRef ref="CONSOLE"/> 	
        </Root>
	    <logger name="com.tlyy.log.LogUtil" level="debug" additivity="false">
	      <AppenderRef ref="CONSOLE"/> 	
	      <AppenderRef ref="ASYNC"/>
	    </logger>
	</Loggers>
</Configuration>


